

*{
    margin:0;
    padding:0;
    text-decoration: none;
    box-sizing: border-box;
    outline: 0;
}
h1, h2, h3, h5 p, a{
    font-weight: 600;
    color: white;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 32px;
}
h3{
    font-size: 25px;
}
h5{
    font-size: 18px;
}

p,a{
    font-size: 17px;
}

body{
    font-family:'Kaushan Script', cursive;
    background-color: rgb(21, 26, 54)!important;
   
}

section{
    padding-top: 7rem;
   
}
section h1,h5{
    text-align: center;
    color: teal;
}
/* ===============Navbar styling============ */

.navbar.navbar-expand-md{
    height:10vh;
    width: 100%;
    background-color:rgb(18, 19, 24);
    position:sticky;
    top:0;
    z-index: 999;
  
}

.navbar a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}
a.nav-link.active{
    color: tomato!important;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}
.navbar ul li a{
    text-transform: uppercase;
}

.navbar-toggler-icon{
    background: #fff;
   
}
.navbar-toggler{
    color: black!important;
}

.nav-link{
    transition: color 0.05s ease-in-out ,background-color 0.05s ease-in-out,border-color 0.05s ease-in-out;
}

.nav-link {
    color: #fff!important;
}

.nav-link:hover {
    color: rgb(136, 136, 167)!important;
}

a.nav-link {
    position: relative;
}
a.nav-link::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: tomato;
    position: absolute;
    left: calc(50%-0.6rem);
    /* transform: rotate(45deg); */
    margin-top: 0.5rem;
    z-index: -999;
    transition: 0.5s;
   
}

a.nav-link:hover::after{ 
    width:100%;
    z-index: -999;
}


/*  ==============home ============== */

#home{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .col_left{
    display: flex;
    align-items: center;
    justify-content: center;
 }
    


.col_left-desc{
    color: white; 
    line-height: 2.5rem; 
    padding: 4rem;
    text-align: center;
    position: relative;
    border-radius: 50% 50% 0 0;
   
}

.col_left-desc::after{
    content: '';
    display: block;
    width: 20rem;
    height: 20rem;
    background: linear-gradient(45deg, transparent,  rgb(46, 59, 117),transparent); 
    position: absolute;
    top: 0.5rem;
    left: 2rem;
    transform: rotate(45deg);
    z-index: -2;
   
}

.col_left-desc:hover::after{ 
    width: 20rem;
}



.ctn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.home_icons{
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: 5rem;
    background-color:  rgb(15, 19, 39); 
    padding: 1rem;
    border-radius: 10px;
    transition: 0.5s;
    
}

.home_icons i{
    color: white;
    font-size: 22px;
}

.home_icons i:hover{
    color: wheat;
    font-size: 24px;
}

.col_right{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .home_img_section{
  max-width: 70%;
  aspect-ratio: 3/4 ;
  border-radius: 1.5rem;
  background: linear-gradient(45deg, transparent,  rgb(46, 59, 117),transparent); 
  display: grid;
  place-items: center;
  margin-top: 3rem;
 }
 .home_img{
    width: 100%;
    border-radius: 1.5rem;
    overflow: hidden;
    transform: rotate(0);
    transition: 0.5s;
 }

.home_img:hover{
    
    transform: rotate(7deg);
}

/*  =========================About Section===================== */


.about_container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 4rem;
    color: #fff;
}

.about_img_section{
    display: flex;
    justify-content: center;
    align-items: center;
}

 .about_img img{
    /* width:300px;
    height:300px; */
    border: 10px solid  rgb(25, 33, 65);
    border-radius: 50%;

 }

 .about_cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10%;
 }

 .about_right_card{
  padding: 2rem;
  text-align: left;
  line-height: 2rem;
  border-radius: 10px;
  background: teal;
  transition: 0.5s;
 }

 .about_right_card:hover{
    background:  rgb(2, 88, 88);;
   }
.item p{
    list-style:disc outside none;
     display:list-item;
     list-style:square; 
}
/* =============================Media Quaries=================== */

@media (max-width:768px) {

    
    .col_left-desc{ 
        line-height: 2rem; 
        padding-top: 1rem;
        
       
    }
     
.col_left-desc::after{
     
    width: 20rem;
    height: 20rem;
    background: linear-gradient(45deg, transparent,  rgb(46, 59, 117),transparent); 
    position: absolute;
    top: -3rem;
    left: 2rem;
    transform: rotate(45deg);
    z-index: -2;
   
}


.col_right{
    padding-top: 3.5rem;
 }
 
 .home_img_section{
    max-width: 60%;
    
   }

    .navbar{
        background-color: rgb(29, 21, 105)
    }
    
    .home_img_section{ 
         margin-top: 2rem;
       }
      
       .home_icons{
    
        bottom: 1rem;
    }
    
    .nav-link::after{
        display: none;
    }
}