

*{
    margin:0;
    padding:0;
    text-decoration: none;
    box-sizing: border-box;
    outline: 0;
}
h1, h2, h3, h5 p, a{
    font-weight: 600;
    color: white;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 32px;
}
h3{
    font-size: 25px;
}
h5{
    font-size: 18px;
}

p,a{
    font-size: 17px;
}

body{
    font-family:'Kaushan Script', cursive;
    background-color: rgb(21, 26, 54)!important;
   
}


/* ===============Navbar styling============ */

.navbar{
    height: 10vh;
    margin: auto;
    background-color:rgb(18, 19, 24);
}
.navbar a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}
a.nav-link.active{
    color: tomato!important;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}
.navbar ul li a{
    text-transform: uppercase;
}

.navbar-toggler-icon{
    background: #fff;
   
}
.navbar-toggler{
    color: black!important;
}

.nav-link{
    transition: color 0.05s ease-in-out ,background-color 0.05s ease-in-out,border-color 0.05s ease-in-out;
}

.nav-link {
    color: #fff!important;
}

.nav-link:hover {
    color: rgb(136, 136, 167)!important;
}


/*  ==============home ============== */

#home{
    min-height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .col_left{
    display: flex;
    align-items: center;
    justify-content: center;
 }
    


.col_left-desc{
    color: white; 
    line-height: 2.5rem; 
    padding: 4rem;
    text-align: center;
    background-color: rgb(15, 19, 39);
    border-radius: 50% 50% 0 0;
   
}

.ctn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.home_icons{
    display: flex;
    gap: 1rem;
   
    position: absolute;
    bottom: 5rem;
    background-color:  rgb(15, 19, 39); 
    padding: 1rem;
    border-radius: 10px;
    transition: 0.5s;
    
}

.home_icons i{
    color: white;
    font-size: 22px;
}


.home_icons i:hover{
    color: wheat;
    font-size: 24px;
}



.col_right{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .home_img_section{
  max-width: 70%;
  aspect-ratio: 3/4 ;
  border-radius: 1.5rem;
  background: linear-gradient(45deg, transparent,  rgb(11, 14, 27),transparent); 
  display: grid;
  place-items: center;
  margin-top: 3rem;
 }

 .home_img{
    border-radius: 1.5rem;
    overflow: hidden;
    transform: rotate(0);
    transition: 0.5s;
 }

 
.home_img:hover{
    
    transform: rotate(7deg);
}

  
@media (max-width:768px) {
    .navbar{
        background-color: rgb(29, 21, 105)
    };
    
    .home_img_section{
         
         margin-top: 3rem;
       }
      
}